<div (click)="showInfo(1)">
<img style="width: 70px;" src="/assets/images/vetr.png">
</div>

<div>
  <p>EE {{ee1}} kWt</p>
  <p>CO2 save {{co1}}</p>
  <p>Generate {{gen11}} for Client 1</p>
  <p>Generate {{gen21}} for Client 2</p>
</div>

<div (click)="showInfo(2)">
  <img style="width: 70px;" src="/assets/images/vetr.png">
</div>

<div>
  <p>EE {{ee2}} kWt</p>
  <p>CO2 save {{co2}}</p>
  <p>Generate {{gen12}} for Client 1</p>
  <p>Generate {{gen22}} for Client 2</p>
</div>


<div (click)="showInfo(3)">
  <img style="width: 70px;" src="/assets/images/vetr.png">
</div>

<div>
  <p>EE {{ee3}} kWt</p>
  <p>CO2 save {{co3}}</p>
  <p>Generate {{gen13}} for Client 1</p>
  <p>Generate {{gen23}} for Client 2</p>
</div>
