<div class="main-coll">
  <h1 class="title">Producers</h1>
  <div *ngFor="let value of counters_info; let i = index" class="blocks">
    <div class="left-coll">
      <img class="img" [src]="'/assets/images/' + value.image">
      <div>
        <button (click)="countInfo(i)">Generate</button>
      </div>
      <div>
        <button (click)="sendInfo(i, 0)"> <!--[disabled]="!dis[i].dis"-->Send 1</button>
      </div>
      <div>
        <button (click)="sendInfo(i, 1)"> <!--[disabled]="!dis[i].dis"-->Send 2</button>
      </div>
    </div>
    <div class="right-coll">
      <p class="paragraph text">{{value.name}}</p>
      <p class="paragraph" style="color: dimgray">Coef CO2 avoid <b style="color: black">{{value.greenCoef}}</b> kg / kWt h</p>
      <br>
      <p class="paragraph">
        <b style="min-width: 170px; display: inline-block">Generated Electric:</b>
        <span style="min-width: 30px; display: inline-block">
          {{value.ee}}
        </span>
        kWt
      </p>
      <p class="paragraph">
        <b style="min-width: 170px; display: inline-block">CO2 saved:</b>
        <span style="min-width: 30px; display: inline-block">
          {{value.co}}
        </span>
        kg
      <br><br>
    </div>
  </div>
</div>

<!--


<div (click)="countInfo(1)">
<img style="width: 70px;" src="/assets/images/vetr.png">
</div>


<div>
  <p class="paragraph">EE {{ee1}} kWt</p>
  <p class="paragraph">CO2 save {{co1}}</p>
  <p class="paragraph">Generate {{gen11}} for Client 1</p>
  <div *ngIf="!dis1">
    <button (click)="showInfo(11)" disabled>Send 1</button>
  </div>
  <div *ngIf="dis1">
    <button (click)="showInfo(11)">Send 1</button>
  </div>

  <p class="paragraph">Generate {{gen21}} for Client 2</p>

  <div *ngIf="!dis1">
    <button (click)="showInfo(12)" disabled>Send 2</button>
  </div>
  <div *ngIf="dis1">
    <button (click)="showInfo(12)">Send 2</button>
  </div>

</div>

<div (click)="countInfo(2)">
  <img style="width: 70px;" src="/assets/images/vetr.png">
</div>

<div>
  <p class="paragraph">EE {{ee2}} kWt</p>
  <p class="paragraph">CO2 save {{co2}}</p>
  <p class="paragraph">Generate {{gen12}} for Client 1</p>


  <div *ngIf="!dis2">
    <button (click)="showInfo(21)" disabled>Send 1</button>
  </div>
  <div *ngIf="dis2">
    <button (click)="showInfo(21)">Send 1</button>
  </div>
  <p class="paragraph">Generate {{gen22}} for Client 2</p>

  <div *ngIf="!dis2">
    <button (click)="showInfo(22)" disabled>Send 2</button>
  </div>
  <div *ngIf="dis2">
    <button (click)="showInfo(22)">Send 2</button>
  </div>
</div>


<div (click)="countInfo(3)">
  <img style="width: 70px;" src="/assets/images/vetr.png">
</div>

<div>
  <p class="paragraph">EE {{ee3}} kWt</p>
  <p class="paragraph">CO2 save {{co3}}</p>
  <p class="paragraph">Generate {{gen13}} for Client 1</p>

  <div *ngIf="!dis3">
    <button (click)="showInfo(31)" disabled>Send 1</button>
  </div>
  <div *ngIf="dis3">
    <button (click)="showInfo(31)">Send 1</button>
  </div>

  <p class="paragraph">Generate {{gen23}} for Client 2</p>

  <div *ngIf="!dis3">
    <button (click)="showInfo(32)" disabled>Send 2</button>
  </div>
  <div *ngIf="dis3">
    <button (click)="showInfo(32)">Send 2</button>
  </div>
</div>

-->
