<div class="main-coll">
  <h1 class="title">Factory lvl 1</h1>
  <div class="supplier" *ngFor="let customer of customers">
    <div style="margin-bottom: 10px; display: flex">
      <img class="image" [src]='"assets/images/" + customer.image'>
      <div class="info-row">
        <div class="name"><u>{{ customer.name }}</u></div>
        <br>
        <div class="balance">
          <u><i>Баланс:</i></u>
        </div>
        <div class="balance">
          {{ customer.balance.cc }} kWt h
        </div>
        <div class="balance">
          CO2: {{ customer.balance.co2 }} kg
        </div>
      </div>
    </div>
    <div class="product-row">
      <u style="display: block; margin-bottom: 10px">Продукция:</u>
      <div *ngFor="let product of customer.products">
        <img class="image" [src]='"assets/images/" + product.image'>
        <div class="info-row">
          <div class="name">
            {{ product.name }}
          </div>
          <div>
            <u>Партия:</u>
            {{ product.address.slice(0, 8) }}...{{ product.address.slice(-7, -1) }}
          </div>
          <div>
            <u>Затрачено:</u>
            <br>
            {{ product.balance.cc }} kWt h
            <br>
            {{ product.balance.co2 }} kg
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
