.suppliers {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.suppliers .image {
  width: 120px;
}

.suppliers .info-row {
  display: block;
  /*flex-direction: row;*/
}

.suppliers .title {
  margin: 0 auto;
  margin-bottom: 15px;
}

.suppliers .supplier {
  margin-bottom: 15px;
  display: flex;
}
