<div class="main-container">
  <div class="coll with-border">
    <app-counters [counters_info]="counters_info"
                  [contract]="contract" [client]="client"
                  [contractAddress]="contractAddress"
                  [customers]="customers">
    </app-counters>
  </div>
  <div class="coll with-border">
    <app-dashboard [customers]="customers" [client]="client"></app-dashboard>
  </div>
  <div class="coll with-border">
    <app-products [factory]="factory" [client]="client"></app-products>
  </div>
  <div class="coll">
    <app-factory ></app-factory>
  </div>
</div>


<router-outlet></router-outlet>
